<div>
<h1>Bienvenido</h1>

<p>Por favor ingresá tu usuario y contraseña</p>
<form id="loginForm">
    <input type="email" name="email" placeholder="Email"></input>
    <input type="password" name="password" placeholder="Contraseña"></input>
    <button type="submit">Ingresar</button>
</form>

<p>Todavía no te registraste? <a href="/users/register">Ingresá acá</a></p>

<a href="/api/products"><button>Ir a productos</button></a>
<a href="/api/carts"><button>Ir a carrito</button></a>
<a href="/chat"><button>Ir a chat</button></a>
</div>


<script src="/js/login.js" ></script>