form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 10px; 
}

input{
    height: 5vh;
}

div, button{
    color: lightcoral
}

table, th, td {
  border: 1px solid black;
}

th, td{
    width: 10vw;
    text-align: center;
}

h3{
    text-align: center;
}

#formulario{
    display: flex;
    justify-content: center;

}

