<div>
  <h2>Lista de productos</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
      <th>CODE</th>
      <th>STATUS</th>
      <th>CATEGORY</th>
      <th>STOCK</th>
      <th>THUMBNAILS</th>
    </tr>
    <tr>
   {{ datos }}
    </tr>
  </table>

<a href="/realTimeProducts">  <button> Ir a RealTimeProducts </button></a>

  {{!-- <ul>
    <li>{{titulo}}</li>
    <li>{{descripcion}}</li>
    <li>{{precio}}</li>
  </ul> --}}


  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</div>